In [25]:
import pandas as pd

a = int(input())
b1 = []
c1 = []
bc = pd.DataFrame()
d = 0.001
for i in range(a):
    b, c= map(str, input().split())
    b = int(b)
    if b in b1:
        b -= d
        d += 0.001
    b1.append(b)
    c1.append(c)
bc['age'] = b1
bc['name'] = c1
bc1 = bc.sort_values(by = 'age', ascending = False)
bc1 = bc1.reset_index(drop = True)
display(bc1)
for i in range(a):
    print(bc1['name'][i])

      age       name
0  24.000   Geonhyuk
1  23.000  Seungkwan
2  22.999    Dongbin
3  22.000     Minkyu

Geonhyuk
Seungkwan
Dongbin
Minkyu