### ì§ë°©ì˜ ì›ë£¸ ë§¤ë¬¼ì •ë³´ ìˆ˜ì§‘
- ì ˆì°¨
    - ë™ì´ë¦„ > ìœ„ë„,ê²½ë„
    - ìœ„ë„,ê²½ë„ > geohash(ì˜ì—­) ë³€í™˜
    - geohash(ì˜ì—­) > ë§¤ë¬¼ ì•„ì´ë””
    - ë§¤ë¬¼ ì•„ì´ë”” > ë§¤ë¬¼ ì •ë³´

In [7]:
import requests
import pandas as pd
import geohash2

In [ ]:
!pip install geohash2

In [2]:
# 1. ë™ì´ë¦„ > ìœ„ë„, ê²½ë„

In [12]:
addr = "ê°•ë‚¨êµ¬ ì—­ì‚¼ë™"
url = f"https://apis.zigbang.com/v2/search?leaseYn=N&q={addr}&serviceType=ì›ë£¸"
response = requests.get(url)
data = response.json()["items"][0]
lat, lng = data["lat"], data["lng"]
lat, lng

(37.495365142822266, 127.03306579589844)

In [3]:
# 2. ìœ„ë„, ê²½ë„ > geohash

In [15]:
# precisionì´ ì»¤ì§ˆìˆ˜ë¡ ì˜ì—­ì´ ì‘ì•„ì§
geohash = geohash2.encode(lat, lng, precision=5)
geohash

'wydm6'

In [4]:
# 3. geohash > ë§¤ë¬¼ ì•„ì´ë””

In [22]:
url = f"https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang\
&geohash={geohash}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸"
response = requests.get(url)
response

In [20]:
items = response.json()["items"]
len(items), items[:2]

(2344,
 [{'lat': 37.485141261794524, 'lng': 127.01296495741643, 'item_id': 32819635},
  {'lat': 37.485627384450254, 'lng': 127.0136283391101, 'item_id': 32838798}])

In [21]:
ids = [item["item_id"] for item in items]
ids[:5]

[32819635, 32838798, 32872608, 32838700, 32767020]

In [5]:
# 4. ë§¤ë¬¼ ì•„ì´ë”” > ë§¤ë¬¼ ì •ë³´

In [23]:
url = "https://apis.zigbang.com/v2/items/list"
params = {
    "domain": "zigbang",
    "withCoalition": "true",
    "item_ids": ids[:900]
}
response = requests.post(url, params)
response

In [27]:
items = response.json()["items"]
columns = ["item_id", "sales_type", "deposit", "rent", "size_m2", "address1", "manage_cost"]
df = pd.DataFrame(items)[columns]
df.tail(2)

      item_id sales_type  deposit  rent  size_m2     address1 manage_cost
898  32844154         ì›”ì„¸      100   100    29.75  ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ì—­ì‚¼ë™           9
899  32656329         ì „ì„¸    24000     0    59.50  ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ì—­ì‚¼ë™          10

In [33]:
# max row, max column ì„¤ì •
pd.options.display.max_columns, pd.options.display.max_rows

(50, 60)

In [31]:
pd.options.display.max_columns = 50

In [32]:
pd.DataFrame(items).tail(2)

,section_type,item_id,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,ê³µê¸‰ë©´ì,ì „ìš©ë©´ì,ê³„ì•½ë©´ì,room_type_title,floor,floor_string,building_floor,title,is_first_movein,room_type,address,random_location,is_zzim,status,service_type,tags,address1,address2,address3,manage_cost,reg_date,is_new
898,None,32844154,https://ic.zigbang.com/ic/items/32844154/1.jpg,ì›”ì„¸,ì›”ì„¸,100,100,29.75,"{'m2': 29.75, 'p': '9'}","{'m2': 29.75, 'p': '9'}",None,None,2,2,2,ğŸŸ¥ğŸŸ¦ë‹¨ê¸°ğŸ’–ë§›ì§‘ğŸŸ¦ğŸŸ¥ ë¦¬ëª¨ë¸ë§ ì£¼ê±°/ì—…ë¬´ ê²¸ìš© ì›ë£¸!,None,01,ê°•ë‚¨êµ¬ ì—­ì‚¼ë™,"{'lat': 37.5016950823564, 'lng': 127.028856632...",False,True,ì›ë£¸,[ì¶”ì²œ],ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ì—­ì‚¼ë™,None,None,9,2022-08-01T18:43:35+09:00,False
899,None,32656329,https://ic.zigbang.com/ic/items/32656329/1.jpg,ì „ì„¸,ì „ì„¸,24000,0,59.50,"{'m2': 59.5, 'p': '18'}","{'m2': 34.71, 'p': '10.5'}",None,None,ì¤‘,ì¤‘,26,"â—ˆì „ì…ê°€ëŠ¥â—ˆìœ„ì¹˜,í¬ê¸°ì¢‹ì€ ì „ì„¸â—ˆ",None,01,ê°•ë‚¨êµ¬ ì—­ì‚¼ë™,"{'lat': 37.501714354904976, 'lng': 127.0439070...",False,True,ì˜¤í”¼ìŠ¤í…”,[ì¶”ì²œ],ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ì—­ì‚¼ë™,None,None,10,2022-07-18T13:23:18+09:00,False

In [34]:
# í•¨ìˆ˜ ë§Œë“¤ê¸°
def oneroom(addr):
    
    url = f"https://apis.zigbang.com/v2/search?leaseYn=N&q={addr}&serviceType=ì›ë£¸"
    response = requests.get(url)
    data = response.json()["items"][0]
    lat, lng = data["lat"], data["lng"]
    
    geohash = geohash2.encode(lat, lng, precision=5)
    
    url = f"https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang\
&geohash={geohash}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸"
    response = requests.get(url)
    items = response.json()["items"]
    ids = [item["item_id"] for item in items]
    
    url = "https://apis.zigbang.com/v2/items/list"
    params = {
        "domain": "zigbang",
        "withCoalition": "true",
        "item_ids": ids[:900]
    }
    response = requests.post(url, params)
    
    items = response.json()["items"]
    columns = ["item_id", "sales_type", "deposit", "rent", "size_m2", "address1", "manage_cost"]
    return pd.DataFrame(items)[columns]

In [36]:
addr = "ë§ˆí¬êµ¬ í•©ì •ë™"
df = oneroom(addr)
df.tail(2)

      item_id sales_type  deposit  rent  size_m2    address1 manage_cost
742  32862490         ì „ì„¸    43000     0    31.74  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ì¤‘ë™           5
743  32866975         ì›”ì„¸     3000    90    49.59  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ì¤‘ë™           2

In [39]:
df_filtered = df[df["address1"].str.contains(addr)].reset_index(drop=True)
df_filtered

     item_id sales_type  deposit  rent  size_m2     address1 manage_cost
0   32662713         ì „ì„¸    17700     0    39.67  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           0
1   32668759         ì „ì„¸    17700     0    39.67  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           0
2   32726690         ì „ì„¸    19900     0    36.28  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           0
3   32542700         ì›”ì„¸     1500    95    49.59  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           7
4   32513282         ì „ì„¸     5000     0    23.14  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           5
..       ...        ...      ...   ...      ...          ...         ...
95  32794268         ì›”ì„¸     1000    90    59.50  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           2
96  32794303         ì›”ì„¸     3000    80    59.50  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           2
97  32804404         ì›”ì„¸     2000    85    61.24  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           2
98  32812101         ì›”ì„¸     3000    80    61.24  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           2
99  32836233         ì›”ì„¸     1000    45    13.95  ì„œìš¸ì‹œ ë§ˆí¬êµ¬ í•©ì •ë™           5

[100 rows x 7 columns]