# 성능튜닝

## 1.환경준비

### (1) import

In [87]:
#라이브러리들을 불러오자.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 전처리
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# 모델링
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import * 

import warnings    # 경고메시지 제외
warnings.filterwarnings(action='ignore')

### (2) 데이터 준비

* 변수설명
    * COLLEGE : 대학 졸업여부
    * INCOME : 연수입
    * OVERAGE : 월평균 초과사용 시간(분)
    * LEFTOVER : 월평균 잔여시간비율(%)
    * HOUSE : 집값
    * HANDSET_PRICE : 스마트폰 가격
    * OVER_15MINS_CALLS_PER_MONTH : 월평균 장기통화(15분이상) 횟수
    * AVERAGE_CALL_DURATION : 평균 통화 시간
    * REPORTED_SATISFACTION : 만족도 설문조사 결과
    * REPORTED_USAGE_LEVEL : 사용도 자가진단 결과
    * CONSIDERING_CHANGE_OF_PLAN : 향후 변경계획 설문조사 결과
    * CHURN : 이탈(번호이동) 여부 (1-이탈, 0-잔류, Target 변수)

In [88]:
# 데이터를 불러옵시다.
path = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/mobile_cust_churn.csv'
data = pd.read_csv(path)
data = data.sample(5000, random_state = 2022)
data['CHURN'] = data['CHURN'].map({'LEAVE':1, 'STAY':0}) 
# sklearn에서는 y를 가변수화 할필요 없다.
# 반드시 필요할때, statsmodels, tensorflow(keras)

data.head()

,id,COLLEGE,INCOME,OVERAGE,LEFTOVER,HOUSE,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,AVERAGE_CALL_DURATION,REPORTED_SATISFACTION,REPORTED_USAGE_LEVEL,CONSIDERING_CHANGE_OF_PLAN,CHURN
3178,3179,0,119512,51,31,248566,229,5,2,very_sat,very_high,considering,1
14926,14927,1,142144,192,15,774317,581,29,4,unsat,very_little,never_thought,1
15116,15117,1,142308,0,79,306426,497,1,1,sat,little,considering,0
12733,12734,1,113385,0,0,333599,819,1,6,very_unsat,very_high,considering,1
14032,14033,1,90348,209,10,637286,360,26,4,unsat,little,actively_looking_into_it,0

## 2.데이터 준비

### (1) 데이터 정리

In [89]:
drop_cols = ['id']
data.drop(drop_cols, axis = 1, inplace = True )

### (2) 데이터분할1 : x, y 나누기

In [90]:
target = 'CHURN'
x = data.drop(target, axis = 1)
y = data.loc[:, target]

### (3) NA 조치

### (4) 가변수화

In [91]:
dumm_cols = ['REPORTED_SATISFACTION','REPORTED_USAGE_LEVEL','CONSIDERING_CHANGE_OF_PLAN']
x = pd.get_dummies(x, columns = dumm_cols, drop_first = True)

### (5) 데이터분할2 : train : validation 나누기

In [92]:
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size = .3, random_state = 20)

### (6) Scaling

In [93]:
scaler = MinMaxScaler()
x_train_s = scaler.fit_transform(x_train)
x_val_s = scaler.transform(x_val)

## 3.선형모델 튜닝

Logistic Regression : 전진선택법
* 변수를 하나씩 늘려가면서
* AIC를 가장 낮추는 모델 찾기

### (1) 전진선택을 수행할 함수 만들기( **로지스틱 회귀** 용)

In [96]:
x_train.head()

,COLLEGE,INCOME,OVERAGE,LEFTOVER,HOUSE,HANDSET_PRICE,OVER_15MINS_CALLS_PER_MONTH,AVERAGE_CALL_DURATION,REPORTED_SATISFACTION_sat,REPORTED_SATISFACTION_unsat,REPORTED_SATISFACTION_very_sat,REPORTED_SATISFACTION_very_unsat,REPORTED_USAGE_LEVEL_high,REPORTED_USAGE_LEVEL_little,REPORTED_USAGE_LEVEL_very_high,REPORTED_USAGE_LEVEL_very_little,CONSIDERING_CHANGE_OF_PLAN_considering,CONSIDERING_CHANGE_OF_PLAN_never_thought,CONSIDERING_CHANGE_OF_PLAN_no,CONSIDERING_CHANGE_OF_PLAN_perhaps
4433,1,130199,184,49,290900,456,26,2,0,0,1,0,0,0,0,1,1,0,0,0
6632,1,45539,215,0,447797,360,24,13,0,0,0,1,1,0,0,0,1,0,0,0
10107,1,93867,54,7,532111,355,3,4,0,0,0,1,0,0,1,0,1,0,0,0
9638,1,61429,161,13,232255,252,23,10,0,0,0,1,0,0,1,0,1,0,0,0
12466,0,59886,222,25,241377,387,12,2,0,0,0,1,0,1,0,0,1,0,0,0

In [94]:
model = sm.Logit(x_train, y_train).fit()

ValueError: endog must be in the unit interval.

In [37]:
# 아래 함수는 로지스틱 회귀를 위한 전진선택법 함수 입니다.
import statsmodels.api as sm

def forward_stepwise_logistic(x_train, y_train):

    # 변수목록, 선택된 변수 목록, 단계별 모델과 AIC 저장소 정의
    features = list(x_train)
    selected = []
    step_df = pd.DataFrame({ 'step':[], 'feature':[],'aic':[]})

    # 
    for s in range(0, len(features)) :
        result =  { 'step':[], 'feature':[],'aic':[]}

        # 변수 목록에서 변수 한개씩 뽑아서 모델에 추가
        for f in features :
            vars = selected + [f]
            x_tr = x_train[vars]
            model = sm.Logit(y_train, x_tr).fit()
            result['step'].append(s+1)
            result['feature'].append(vars)
            result['aic'].append(model.aic)
        
        # 모델별 aic 집계
        temp = pd.DataFrame(result).sort_values('aic').reset_index(drop = True)

        # 만약 이전 aic보다 새로운 aic 가 크다면 멈추기
        if step_df['aic'].min() < temp['aic'].min() :
            break
        step_df = pd.concat([step_df, temp], axis = 0).reset_index(drop = True)

        # 선택된 변수 제거
        v = temp.loc[0,'feature'][s]
        features.remove(v)

        selected.append(v)
    
    # 선택된 변수와 step_df 결과 반환
    return selected, step_df

### (2) 전진선택법 수행

In [97]:
vars, result = forward_stepwise_logistic(x_train, y_train)

Optimization terminated successfully.
         Current function value: 0.693075
         Iterations 3
Optimization terminated successfully.
         Current function value: 0.693062
         Iterations 2
Optimization terminated successfully.
         Current function value: 0.683528
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.693007
         Iterations 3
Optimization terminated successfully.
         Current function value: 0.684909
         Iterations 2
Optimization terminated successfully.
         Current function value: 0.693042
         Iterations 2
Optimization terminated successfully.
         Current function value: 0.686899
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.692565
         Iterations 3
Optimization terminated successfully.
         Current function value: 0.692806
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.693137
         Iterations 3
Optimization terminated successfully.
         Current function value: 0.691866
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.693146
         Iterations 2
Optimization terminated successfully.
         Current function value: 0.693147
         Iterations 1
Optimization terminated successfully.
         Current function value: 0.693015
         Iterations 3
Optimization terminated successfully.
         Current function value: 0.692965
         Iterations 3
Optimization terminated successfully.
         Current function value: 0.692882
         Iterations 3
Optimization terminated successfully.
         Current function value: 0.692579
         Iterations 3
Optimization terminated successfully.
         Current function value: 0.693046
         Iterations 3
Optimization terminated successfully.
         Current function value: 0.693080
         Iterations 3
Optimization terminated successfully.
         Current function value: 0.693058
         Iterations 3
Optimization terminated successfully.
         Current function value: 0.679039
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.679064
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.682035
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.643056
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.679443
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.683317
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.674460
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.682313
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.682292
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.678103
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.680840
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.683068
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.679251
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.680933
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.681200
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.677933
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.682371
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.682062
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.682863
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.642039
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.635596
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.639711
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.635522
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.642894
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.642569
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.642966
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.642830
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.642966
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.641766
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.642866
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.642929
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.642750
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.642940
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.643014
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.643051
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.642672
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.643053
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.635399
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.634914
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.633893
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.635419
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.635464
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.635187
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.635504
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.634933
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.635116
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.635470
         Iterations 4
Optimization terminated successfully.
         Current function value: 0.635439
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.635494
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.635521
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.635391
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.635503
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.635451
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.635483
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633842
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633406
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633794
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633753
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633538
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633890
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633194
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633579
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633861
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633765
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633884
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633888
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633674
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633874
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633866
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633847
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633112
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632641
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633102
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632954
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632697
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633174
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633137
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633162
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633092
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633175
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633193
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633016
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633178
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633151
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.633158
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632593
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632566
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632521
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632098
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632599
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632616
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632617
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632520
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632636
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632635
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632427
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632616
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632613
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632591
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632043
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632027
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.631949
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632002
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632098
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632072
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.631997
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632093
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632092
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.631906
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632075
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632062
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.632051
         Iterations 5

* 선택된 변수

In [39]:
vars

['OVERAGE',
 'HOUSE',
 'HANDSET_PRICE',
 'LEFTOVER',
 'REPORTED_SATISFACTION_very_sat',
 'INCOME',
 'REPORTED_SATISFACTION_sat']

In [40]:
result

     step                                            feature          aic
0     1.0                                          [OVERAGE]  4786.699456
1     1.0                                            [HOUSE]  4796.363859
2     1.0                      [OVER_15MINS_CALLS_PER_MONTH]  4810.294604
3     1.0                   [REPORTED_SATISFACTION_very_sat]  4845.064834
4     1.0                            [AVERAGE_CALL_DURATION]  4849.951663
..    ...                                                ...          ...
114   7.0  [OVERAGE, HOUSE, HANDSET_PRICE, LEFTOVER, REPO...  4442.309949
115   7.0  [OVERAGE, HOUSE, HANDSET_PRICE, LEFTOVER, REPO...  4442.315315
116   7.0  [OVERAGE, HOUSE, HANDSET_PRICE, LEFTOVER, REPO...  4442.316816
117   7.0  [OVERAGE, HOUSE, HANDSET_PRICE, LEFTOVER, REPO...  4442.448187
118   7.0  [OVERAGE, HOUSE, HANDSET_PRICE, LEFTOVER, REPO...  4442.451017

[119 rows x 3 columns]

In [41]:
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

In [42]:
result

,step,feature,aic
0,1.0,[OVERAGE],4786.699456
1,1.0,[HOUSE],4796.363859
2,1.0,[OVER_15MINS_CALLS_PER_MONTH],4810.294604
3,1.0,[REPORTED_SATISFACTION_very_sat],4845.064834
4,1.0,[AVERAGE_CALL_DURATION],4849.951663
...,...,...,...
114,7.0,"[OVERAGE, HOUSE, HANDSET_PRICE, LEFTOVER, REPORTED_SATISFACTION_very_sat, INCOME, REPORTED_SATISFACTION_very_unsat]",4442.309949
115,7.0,"[OVERAGE, HOUSE, HANDSET_PRICE, LEFTOVER, REPORTED_SATISFACTION_very_sat, INCOME, CONSIDERING_CHANGE_OF_PLAN_never_thought]",4442.315315
116,7.0,"[OVERAGE, HOUSE, HANDSET_PRICE, LEFTOVER, REPORTED_SATISFACTION_very_sat, INCOME, REPORTED_USAGE_LEVEL_high]",4442.316816
117,7.0,"[OVERAGE, HOUSE, HANDSET_PRICE, LEFTOVER, REPORTED_SATISFACTION_very_sat, INCOME, REPORTED_USAGE_LEVEL_very_little]",4442.448187
118,7.0,"[OVERAGE, HOUSE, HANDSET_PRICE, LEFTOVER, REPORTED_SATISFACTION_very_sat, INCOME, REPORTED_USAGE_LEVEL_very_high]",4442.451017

### (3) 모델링

* 전체 변수

In [43]:
m1 = LogisticRegression()
m1.fit(x_train, y_train)
p1 = m1.predict(x_val)

print(accuracy_score(y_val, p1))
print(classification_report(y_val, p1))

0.6333333333333333
              precision    recall  f1-score   support

           0       0.62      0.68      0.65       738
           1       0.65      0.59      0.62       762

    accuracy                           0.63      1500
   macro avg       0.63      0.63      0.63      1500
weighted avg       0.64      0.63      0.63      1500

* 전진선택법 변수

In [44]:
m2 = LogisticRegression()
m2.fit(x_train[vars], y_train)
p2 = m2.predict(x_val[vars])

print(accuracy_score(y_val, p2))
print(classification_report(y_val, p2))

0.634
              precision    recall  f1-score   support

           0       0.62      0.68      0.65       738
           1       0.66      0.59      0.62       762

    accuracy                           0.63      1500
   macro avg       0.64      0.63      0.63      1500
weighted avg       0.64      0.63      0.63      1500

## 4.하이퍼파라미터 튜닝

### (1) 필요한 함수 불러오기

In [45]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

### (2) Random Search

① 값의 범위를 지정한다.  
② 모델 선언(시도 횟수 지정)  
③ 모델링(값의 범위 내에서 시도 횟수만큼 랜덤하게 선택해서 시도한다.)  
④ 가장 성능이 좋은 값을 선정

#### ① 값의 범위를 지정한다.

In [46]:
# dictionary형태로 선언
params = { 'n_neighbors' : range(1,51), 'metric' : ['euclidean', 'manhattan']  }
params

{'n_neighbors': range(1, 51), 'metric': ['euclidean', 'manhattan']}

#### ② 모델 선언

In [47]:
# 기본모델
model = KNeighborsClassifier()

# Random Search 설정.
model_rs = RandomizedSearchCV(model
                            , params              # hyperparameter 범위 지정.
                            , cv=5                    # k-fold Cross Validation
                            , n_iter=5                # Random하게 시도할 횟수
                            )

#### ③ 모델링

In [48]:
# 학습 : model이 아니라 model_rs
model_rs.fit(x_train_s, y_train)

RandomizedSearchCV(cv=5, estimator=KNeighborsClassifier(), n_iter=5,
                   param_distributions={'metric': ['euclidean', 'manhattan'],
                                        'n_neighbors': range(1, 51)})

In [49]:
# 튜닝 결과
model_rs.cv_results_

{'mean_fit_time': array([0.00050302, 0.0005085 , 0.00060019, 0.00080266, 0.00080023]),
 'std_fit_time': array([0.00044722, 0.00044751, 0.00049006, 0.00040136, 0.00040011]),
 'mean_score_time': array([0.04385924, 0.04470963, 0.04412942, 0.04373817, 0.04280953]),
 'std_score_time': array([0.00091241, 0.00125904, 0.00204826, 0.00140438, 0.0044461 ]),
 'param_n_neighbors': masked_array(data=[28, 45, 39, 50, 23],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_metric': masked_array(data=['manhattan', 'manhattan', 'euclidean', 'euclidean',
                    'euclidean'],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'n_neighbors': 28, 'metric': 'manhattan'},
  {'n_neighbors': 45, 'metric': 'manhattan'},
  {'n_neighbors': 39, 'metric': 'euclidean'},
  {'n_neighbors': 50, 'metric': 'euclidean'},
  {'n_neighbors': 23, 'metric': 'euclidean'}],
 'split0_test_score': array([0.63285714, 0.64142857, 0.62      , 0.62      , 0.59857143]),
 'split1_test_score': array([0.60857143, 0.61142857, 0.57285714, 0.57857143, 0.60142857]),
 'split2_test_score': array([0.62285714, 0.62714286, 0.62428571, 0.62285714, 0.59      ]),
 'split3_test_score': array([0.61285714, 0.62      , 0.58285714, 0.57714286, 0.57714286]),
 'split4_test_score': array([0.61285714, 0.60714286, 0.57571429, 0.58      , 0.56285714]),
 'mean_test_score': array([0.618     , 0.62142857, 0.59514286, 0.59571429, 0.586     ]),
 'std_test_score': array([0.00878775, 0.01215546, 0.02232597, 0.02103447, 0.01432566]),
 'rank_test_score': array([2, 1, 4, 3, 5])}

In [50]:
model_rs.cv_results_['params']

[{'n_neighbors': 28, 'metric': 'manhattan'},
 {'n_neighbors': 45, 'metric': 'manhattan'},
 {'n_neighbors': 39, 'metric': 'euclidean'},
 {'n_neighbors': 50, 'metric': 'euclidean'},
 {'n_neighbors': 23, 'metric': 'euclidean'}]

In [51]:
model_rs.cv_results_['mean_test_score']

array([0.618     , 0.62142857, 0.59514286, 0.59571429, 0.586     ])

In [52]:
# 최적의 파라미터
model_rs.best_params_

{'n_neighbors': 45, 'metric': 'manhattan'}

In [53]:
# 그때의 성능
model_rs.best_score_

0.6214285714285714

In [54]:
# best 모델로 예측 및 평가
pred = model_rs.predict(x_val_s)
print(classification_report(y_val, pred))

              precision    recall  f1-score   support

           0       0.59      0.74      0.66       738
           1       0.67      0.50      0.57       762

    accuracy                           0.62      1500
   macro avg       0.63      0.62      0.62      1500
weighted avg       0.63      0.62      0.62      1500

### (3) 실습 : Random Search

* decision tree로 튜닝을 시도해 봅시다.
    * max_depth : 1~10
    * min_samples_leaf : 10 ~ 100

#### ① 값의 범위를 지정한다.

In [55]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
params = { 'max_depth' : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'min_samples_leaf' : range(10,101,10)  }
params

{'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'min_samples_leaf': range(10, 101, 10)}

#### ② 모델 선언

In [57]:
model = DecisionTreeClassifier()
model_rs = RandomizedSearchCV(model, params, cv=5, n_iter = 10)

#### ③ 모델링

In [58]:
model_rs.fit(x_train, y_train)

RandomizedSearchCV(cv=5, estimator=DecisionTreeClassifier(),
                   param_distributions={'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9,
                                                      10],
                                        'min_samples_leaf': range(10, 101, 10)})

In [59]:
model_rs.best_params_

{'min_samples_leaf': 30, 'max_depth': 10}

In [60]:
model_rs.best_score_

0.6965714285714285

In [61]:
pred = model_rs.predict(x_val)
print(classification_report(y_val, pred))

              precision    recall  f1-score   support

           0       0.67      0.68      0.68       738
           1       0.69      0.68      0.68       762

    accuracy                           0.68      1500
   macro avg       0.68      0.68      0.68      1500
weighted avg       0.68      0.68      0.68      1500

### (4) Grid Search

① 값의 범위를 지정한다.  
② 모델링(값의 범위 내에서 모든 조합을 다 시도한다.)  
③ 가장 성능이 좋은 값을 선정

#### ① 값의 범위를 지정한다.

In [71]:
# dictionary형태로 선언
params = { 'n_neighbors' : range(3,51,2), 'metric' : ['euclidean', 'manhattan']  }
params

{'n_neighbors': range(3, 51, 2), 'metric': ['euclidean', 'manhattan']}

#### ② 모델 선언

In [72]:
# 기본모델
model = KNeighborsClassifier()

# Random Search 설정.
model_gs = GridSearchCV(model, params, cv=5)

#### ③ 모델링

In [73]:
# 학습 : model이 아니라 model_rs
model_gs.fit(x_train_s, y_train)

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'metric': ['euclidean', 'manhattan'],
                         'n_neighbors': range(3, 51, 2)})

In [ ]:
# 튜닝 결과
model_gs.cv_results_

In [ ]:
model_gs.cv_results_['params']

In [67]:
model_gs.cv_results_['mean_test_score']

array([0.57885714, 0.57942857, 0.57714286, 0.57342857, 0.568     ,
       0.57457143, 0.58085714, 0.58257143, 0.57914286, 0.58057143,
       0.586     , 0.58457143, 0.57971429, 0.58028571, 0.57314286,
       0.59142857, 0.59171429, 0.59142857, 0.59828571, 0.59771429,
       0.59942857, 0.60142857, 0.60171429, 0.61057143, 0.61      ,
       0.61142857, 0.61857143, 0.618     ])

In [68]:
# 최적의 파라미터
model_gs.best_params_

{'metric': 'manhattan', 'n_neighbors': 27}

In [69]:
# 그때의 성능
model_gs.best_score_

0.6185714285714285

In [75]:
# best 모델로 예측 및 평가
pred = model_gs.predict(x_val_s)
print(classification_report(y_val, pred))

              precision    recall  f1-score   support

           0       0.59      0.74      0.66       738
           1       0.66      0.51      0.58       762

    accuracy                           0.62      1500
   macro avg       0.63      0.62      0.62      1500
weighted avg       0.63      0.62      0.62      1500

### (5) 실습 : Grid Search

* decision tree로 튜닝을 시도해 봅시다.
    * max_depth : 1~10
    * min_samples_leaf : 10 ~ 100

#### ① 값의 범위를 지정한다.

In [76]:
params = {'max_depth': range(1,11), 'min_samples_leaf':range(10,101,10) }

#### ② 모델 선언

In [81]:
m = DecisionTreeClassifier()
m_gs = GridSearchCV(m, params, cv = 5, verbose = 3)

**verbose**  
Controls the verbosity: the higher, the more messages.
* 1초과 : the computation time for each fold and parameter candidate is displayed;
* 2초과 : the score is also displayed;
* 3초과 : the fold and candidate parameter indexes are also displayed together with the starting time of the computation.

#### ③ 모델링

In [ ]:
m_gs.fit(x_train, y_train)

In [83]:
m_gs.best_params_

{'max_depth': 7, 'min_samples_leaf': 30}

In [84]:
m_gs.best_score_

0.7002857142857143

In [85]:
pred = m_gs.predict(x_val)

print(confusion_matrix(y_val, pred))
print('-' * 50)
print(classification_report(y_val, pred))

[[517 221]
 [261 501]]
--------------------------------------------------
              precision    recall  f1-score   support

           0       0.66      0.70      0.68       738
           1       0.69      0.66      0.68       762

    accuracy                           0.68      1500
   macro avg       0.68      0.68      0.68      1500
weighted avg       0.68      0.68      0.68      1500